__pycache__/
*.pyc
*.pyo
*.pyd

.env/
env/
venv/
.venv/

.ipynb_checkpoints/
*.ipynb_profiling

.DS_Store
Thumbs.db
*.swp
*.swo
*.orig

*.log
*.tmp
*.cache

wine_output/
heart_output/
models_output/
reports/

mlruns/

figures/

build/
dist/
*.egg-info/

node_modules/

.python-version
wine_rf_output
wine_xgb_output
heart_rf_output
heart_xgb_output
.DS_Store

